
node_modules/
out/
*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache
.nyc_output/
coverage/
.tmp/
.temp/
.cache/
out-test
.vscode-test/

.DS_Store
Thumbs.db

.idea/
.history/

.env
.env.*
!.env.example

*.vsix

dist/
media/**/*.map
